#  1: Python Data Types

* In Python, there are several built-in data types that you can use to store and manipulate data.
* Data types are the classification or categorization of data items. It represents the kind of value that tells what operations can be performed on a particular data. Since everything is an object in Python programming, data types are actually classes and variables are instances (objects) of these classes. Following are the standard or built-in data types of Python:
* Numeric
* Sequence Type
* Boolean
* Set
* Dictionary



in this lecture we cover only introduction of all advance data types in upcoming lecture we will see in details.

## Numeric
* It represent the numeric value.it may be a int type,float or complex.

##### int: 
This data type represents integer values, such as 10, -8, and 90.

In [2]:
my_motor_bike_price=12000
my_salary=378000
my_roomrent=6798

In [3]:
print("my_salary Data Type:",type(my_salary))

my_salary Data Type: <class 'int'>

In [5]:
print(type(my_salary))

<class 'int'>

In [6]:
print("My Salary:",my_salary)

My Salary: 378000

In [8]:
print("My Room Rent:",my_roomrent)

My Room Rent: 6798

In [9]:
loan=456789

In [10]:
print("My Loan Amount:",loan)

My Loan Amount: 456789

In [11]:
Amount=int(input("Enter Amount:"))
print("Your Amount:",Amount)

Enter Amount:34567890
Your Amount: 34567890

### Float

* float: This data type represents floating point values, such as 78.0, -67.06,0.89 and -0.895.

In [13]:
my_weight=50.5
side_Square=-4.7
Pi=3.14
temp=4.7

In [18]:
print("Today Temprature",temp,"celcus")

Today Temprature 4.7 celcus

In [19]:
print("my_weight Data Type:",type(my_weight))

my_weight Data Type: <class 'float'>

In [20]:
print("My Weight:",my_weight)

My Weight: 50.5

In [21]:
print("Area of Square:",side_Square*side_Square)

Area of Square: 22.090000000000003

In [22]:
radius_circle=float(input("Enter Radius of Circle:"))

Enter Radius of Circle:5678.098

In [23]:
print(radius_circle,type(radius_circle))

5678.098 <class 'float'>

In [25]:
print("Area of Circle:",Pi*(radius_circle*radius_circle))

Area of Circle: 101236102.25847657

#### Complex 
* Complex in another data type in python. it is consist of two value ,the first one is  real part and second one is imaginary.
* complex_num=real+imaginary

In [17]:
my_complex=7-7j
print(my_complex,type(my_complex))

(7-7j) <class 'complex'>

In [18]:
my_complex.imag

-7.0

In [19]:
my_complex.real

7.0

In [20]:
x=complex(input())

7

In [21]:
x

(7+0j)

### Sequence Type
* In Python, the sequence is the ordered collection of similar or different data types.
  Sequences allow to store multiple values in an organized and efficient fashion. 
**There are several sequence types in Python** 
* String
* List
* Tuple

# string

* str: This data type represents string values, which are sequences of characters. Strings can be defined using single quotes (') or double quotes ("), and can contain letters, numbers, and special characters.

In [26]:
First_name="Rahul"
Second_name='Kumar'
last_name="""Mishra"""

In [27]:
print("First_Name Data Type:",type(First_name))

First_Name Data Type: <class 'str'>

In [28]:
print("My Name is:",First_name+Second_name+last_name)

My Name is: RahulKumarMishra

In [31]:
Name=input("Enter Your Name:")
print("Your Name:",Name)

Enter Your Name:nandan
Your Name: nandan

In [30]:
type(Name)

str

# Boolean

* bool: This data type represents boolean values, which can be either True or False.

In [32]:
is_Teacher=True
is_Student=False
found=True
print("Data found",found)

Data found True

In [33]:
print(type(is_Student))

<class 'bool'>

In [34]:
print("is_Teacher Data Type:",type(is_Teacher))

is_Teacher Data Type: <class 'bool'>

In [35]:
print("I am a Teacher:",is_Teacher)
print("I am a student:",is_Student)

I am a Teacher: True
I am a student: False

# List

* list: This data type represents a list of values, which can be of any data type.
* Lists are ordered and mutable, which means that you can change the values in a list after it has been created.
* For Creating list we use '[val1,va2]'.

In [36]:
empty_list=[]
empty_list2=list()
print("List is Empty:",empty_list)
print(type(empty_list))
print(type(empty_list2))

List is Empty: []
<class 'list'>
<class 'list'>

In [37]:
print("empty_list Data Type:",type(empty_list))

empty_list Data Type: <class 'list'>

In [38]:
first_list=[1,2.2,"Rahi","Aditya",True,False,[1234,43,34,23]]
print("List contains Value:",first_list)

List contains Value: [1, 2.2, 'Rahi', 'Aditya', True, False, [1234, 43, 34, 23]]

In [42]:
first_list[-7]

1

In [43]:
first_list[-7]=100

In [44]:
first_list

[100, 2.2, 'Rahi', 'Aditya', True, False, [1234, 43, 34, 23]]

In [50]:
first_list.append("Saurav")

In [51]:
print(first_list)

[100, 2.2, 'Rahi', 'Aditya', True, False, [1234, 43, 34, 23], 'arnav', 'Saurav', 'Saurav', 'Saurav']

#### can we take list as input  from user
* we can take a list of value in the list by the help of some function.but we can only enter similar kind of data at time.

# Tuple

* tuple: This data type is similar to a list, but it is immutable, which means that you cannot change the values in a tuple after it has been created.

In [53]:
empty_tuple=()
empty_tuple2=tuple()
print("This tuple is Empty:",empty_tuple,empty_tuple2)

This tuple is Empty: () ()

In [54]:
x=12,34,4
type(x)

tuple

In [57]:
first_tuple=(1,2.2,"Rahi","Aditya",2,1,7)
print("This tuple is contains Value:",first_tuple)

This tuple is contains Value: (1, 2.2, 'Rahi', 'Aditya', 2, 1, 7)

In [58]:
print("first_tuple Data Type:",type(first_tuple))

first_tuple Data Type: <class 'tuple'>

In [59]:
first_tuple[-1]

7

In [60]:
first_tuple.count("RahiII")

0

In [62]:
first_tuple.index(17)

ValueError: tuple.index(x): x not in tuple

#### can we take tuple as input  from user
* we can take a list of value in the tuple by the help of some function.but we can only enter similar kind of data at time.

# Set

* set: This data type is a collection of unordered, unique elements. A set is defined using curly braces ({}) and can contain elements of any data type. Sets are useful for storing and manipulating data that does not need to be ordered, and for removing duplicates from a list

In [71]:
empty_set=set()
print(type(empty_set))
set_with_value={3,43,42,23,23,6,2,5,90,3,"Avinash","Avinash"}

<class 'set'>

In [72]:
print("Set_with_Value Data Type:",type(set_with_value))

Set_with_Value Data Type: <class 'set'>

In [73]:
print("Set Values:",set_with_value)

Set Values: {2, 3, 5, 6, 42, 43, 'Avinash', 23, 90}

# Dictionary

* dict: This data type represents a dictionary, which is a collection of key-value pairs. Each key is associated with a value, and you can use the key to access the value. Dictionaries are mutable.

In [75]:
empty_dict={}
print(type(empty_dict))
Roman={1:"I",2:"II",3:"III",4:'IV',5:"V"}

<class 'dict'>

In [77]:
Roman[1]

'I'

In [79]:
print(type(empty_dict))

<class 'dict'>

In [80]:
print("Roman Data Type:",type(Roman))

Roman Data Type: <class 'dict'>

In [81]:
print(Roman)

{1: 'I', 2: 'II', 3: 'III', 4: 'IV', 5: 'V'}

In [82]:
print(Roman[1])

I

In [83]:
Roman.keys()

dict_keys([1, 2, 3, 4, 5])

In [85]:
Roman.values()

dict_values(['I', 'II', 'III', 'IV', 'V'])

In [53]:
Roman.items()

dict_items([(1, 'I'), (2, 'II'), (3, 'III'), (4, 'IV'), (5, 'V')])

In [90]:
dict1={"student_name":["a","b","c"],"student_name":"Avinash"}

In [91]:
dict1["student_name"]

'Avinash'