## List
* list is a collection of values that can be of any data type, including other lists. Lists are ordered and changeable, and allow duplicate values

In [1]:
numbers = [1,23,48,763,826,4,82,649,87,445,7,8,63,276] # Creating list with numbers 
print(numbers)
len(numbers)

[1, 23, 48, 763, 826, 4, 82, 649, 87, 445, 7, 8, 63, 276]

14

In [2]:
numbers[-10]

826

In [3]:
numbers[4]

826

In [4]:
numbers[2:6]

[48, 763, 826, 4]

In [5]:
numbers[-5:-1]

[445, 7, 8, 63]

In [6]:
numbers[56:]

[]

In [7]:
numbers

[1, 23, 48, 763, 826, 4, 82, 649, 87, 445, 7, 8, 63, 276]

In [8]:
numbers[1:6:1]

[23, 48, 763, 826, 4]

1. <b>len(lst)</b>: returns the length of the list
2. <b>lst.append(element)</b>: adds an element to the end of the list
3. <b>lst.insert(index, element)</b>: inserts an element at a specific index in the list
4. <b>lst.remove(element)</b>: removes the first occurrence of an element from the list
5. <b>lst.pop()</b>: removes and returns the last element from the list
6. <b>lst.pop(index)</b>: removes and returns the element at a specific index in the list
7. <b>lst.clear()</b>: removes all elements from the list
8. <b>lst.index(element)</b>: returns the index of the first occurrence of an element in the list
9. <b>lst.count(element)</b>: returns the number of occurrences of an element in the list
10. <b>lst.sort()</b>: sorts the elements of the list in ascending order
11. <b>lst.reverse()</b>: reverses the order of the elements in the list
12. <b>lst.copy()</b>: returns a shallow copy of the list
* Note => 'lst' is your list name.
* you can also apply some external function on list like len(),min(),max().

In [9]:
num=int(input("Enter any number to Append to the end of the list:"))
# Add an element to the end of the list
numbers.append(num)
print(numbers)

Enter any number to Append to the end of the list:2
[1, 23, 48, 763, 826, 4, 82, 649, 87, 445, 7, 8, 63, 276, 2]

In [10]:
numbers.append(["anand","kumar"])

In [11]:
print(numbers)

[1, 23, 48, 763, 826, 4, 82, 649, 87, 445, 7, 8, 63, 276, 2, ['anand', 'kumar']]

In [12]:
numbers[-1]

['anand', 'kumar']

In [13]:
# Insert an element at a specific index
numbers.insert(5,"Avinash")
print(numbers)

[1, 23, 48, 763, 826, 'Avinash', 4, 82, 649, 87, 445, 7, 8, 63, 276, 2, ['anand', 'kumar']]

In [14]:
# Remove an element from the list
numbers.remove(1000)
print(numbers)

ValueError: list.remove(x): x not in list

In [15]:
# Remove and return the last element from the list
last_element = numbers.pop()
print(last_element)  
print(numbers)

['anand', 'kumar']
[1, 23, 48, 763, 826, 'Avinash', 4, 82, 649, 87, 445, 7, 8, 63, 276, 2]

In [16]:
# Remove and return an element from a specific index
second_element = numbers.pop(1)
print(second_element) 
print(numbers)

23
[1, 48, 763, 826, 'Avinash', 4, 82, 649, 87, 445, 7, 8, 63, 276, 2]

In [17]:
# Copying All elenment in another list
duplicate_number=numbers.copy()
duplicate_number2=numbers
print(duplicate_number,"\n",duplicate_number2)

[1, 48, 763, 826, 'Avinash', 4, 82, 649, 87, 445, 7, 8, 63, 276, 2]
 [1, 48, 763, 826, 'Avinash', 4, 82, 649, 87, 445, 7, 8, 63, 276, 2]

In [18]:
# Clear the list
duplicate_number.clear()
print(duplicate_number)

[]

In [19]:
# check the index of an element
print(numbers.index("Avinash"))

4

In [20]:
# Counting the number of occurance of an element in list
print(numbers.count(1))

1

In [25]:
numbers.pop(3)

8

In [29]:
# Sorting the list element ( showing error,why list containing str )
numbers.sort(reverse=True)
print(numbers)

TypeError: '<' not supported between instances of 'str' and 'int'

In [30]:
numbers

[2, 4, 7, 63, 82, 87, 276, 445, 649, 'Avinash', 763, 48, 1]

In [37]:
# Reversing the order of list element
numbers.reverse()
print(numbers)

[2, 4, 7, 63, 82, 87, 276, 445, 649, 'Avinash', 763, 48, 1]

In [38]:
## iteration in list
for i in numbers:
    print(i,end=" ")

2 4 7 63 82 87 276 445 649 Avinash 763 48 1

In [39]:
products=['a','b','c']

In [41]:
print('1:Add Product at last')
print("2:insert at Specific position")
print("3:Count products")
ch=int(input("Enter your choice:"))
if(ch==1):
    value=input("Product name:")
    products.append(value)
    print(products)
elif(ch==2):
    pos=int(input("Position:"))
    value=input("Product name:")
    products.insert(pos,value)
elif(ch==3):
    print(f"We have {len(products)} products")

1:Add Product at last
2:insert at Specific position
3:Count products
Enter your choice:2
Position:2
Product name:hgvh

In [42]:
products

['a', 'b', 'hgvh', 'c']

## Tuple
* A tuple is a immutable sequence type in Python. This means that once you create a tuple, you cannot change its elements
* tuple  have only two internal function beacouse of its immutability 
* <b>index()</b>
* <b>count()</b>

In [44]:
# Creating list
numbers=(25,45,67,88,76,545,6,7,10,25)
print(numbers)

(25, 45, 67, 88, 76, 545, 6, 7, 10, 25)

In [45]:
num=list(numbers)
num.append(455678)
numbers=tuple(num)

In [46]:
numbers

(25, 45, 67, 88, 76, 545, 6, 7, 10, 25, 455678)

In [47]:
# check the index of an element
print(numbers.index(88))

3

In [ ]:
# Counting the number of occurance of an element 
print(numbers.count(25))

In [48]:
# length of the tuple
print(len(numbers)) # Output: 3

11

In [49]:
# minimum element of the tuple
print(min(numbers)) # Output: 1

6

In [50]:
# maximum element of the tuple
print(max(numbers)) # Output: 3

455678

In [51]:
## iteration in tuple
for i in numbers:
    print(i)

25
45
67
88
76
545
6
7
10
25
455678

In [52]:
print('Avinash',end=",")
print("Kumar")

Avinash,Kumar

## set
* <b>set</b> data type is a collection of unordered, unique elements. A set is defined using curly braces ({}) and can contain elements of any data type. Sets are useful for storing and manipulating data that does not need to be ordered, and for removing duplicates from a list.

- add(element)                # adds an element to the set
- clear()                     # removes all elements from the set
- copy()                      # returns a copy of the set
- difference(other_set)       # returns a new set with elements in the set that are not in the other set
- difference_update(other_set)# removes elements from the set that are also in the other set
- discard(element)            # removes an element from the set if it is present
- intersection(other_set)     # returns a new set with elements that are common to both sets
- intersection_update(other_set) # removes elements from the set that are not present in the other set
- isdisjoint(other_set)       # returns True if the set has no elements in common with the other set, False otherwise
- issubset(other_set)         # returns True if the set is a subset of the other set, False otherwise
- issuperset(other_set)       # returns True if the set is a superset of the other set, False otherwise
- pop()                       # removes and returns an arbitrary element from the set, raises KeyError if the set is empty
- remove(element)             # removes an element from the set, raises KeyError if the element is not present
- symmetric_difference(other_set) # returns a new set with elements that are in either set, but not in both
- symmetric_difference_update(other_set) # updates the set with elements that are in either set, but not in both
- union(other_set)            # returns a new set with elements from both sets
- update(other_set)           # adds elements from the other set to the set

In [53]:
# Create two sets
my_set = {4,7,9,1, 2, 3}
other_set = {3, 4, 5,89,9}
print(my_set)

{1, 2, 3, 4, 7, 9}

In [54]:
# Add elemt to the set
my_set.add(40)
print(my_set)

{1, 2, 3, 4, 7, 40, 9}

In [55]:
# Remove an element from the set
my_set.remove(1)

print(my_set)

{2, 3, 4, 7, 40, 9}

In [56]:
# Get the copy of the set
copied_set = my_set.copy()

print(copied_set)

{2, 3, 4, 7, 40, 9}

In [ ]:
copied_set1=my_set
print(copied_set1)

In [57]:
my_set

{2, 3, 4, 7, 9, 40}

In [58]:
other_set

{3, 4, 5, 9, 89}

In [59]:
# Get the difference between two sets
difference = other_set.difference(my_set)

print(difference)

{89, 5}

In [60]:
# Remove elements from the set that are also in the other set
my_set.difference_update(other_set)

print(my_set)

{2, 7, 40}

In [61]:
# Remove an element from the set if it is present
my_set.discard(40)

print(my_set)

{2, 7}

In [62]:
my_set.add(5)

In [63]:
print(my_set,other_set)

{2, 5, 7} {89, 3, 4, 5, 9}

In [64]:
# Get the intersection of two sets
intersection = my_set.intersection(other_set)
print(intersection)

{5}

In [65]:
cust={"Ram","Shyam","Sohan","Rohan"}
pay=set()

In [66]:
pay.add("Ram")
pay.add("Shyam")

In [67]:
cust.intersection(pay)

{'Ram', 'Shyam'}

In [ ]:
cust.difference_update(pay)
print(cust)

In [68]:
# Remove elements from the set that are not present in the other set
my_set.intersection_update(other_set)

print(my_set)

{5}

In [69]:
# Check if the set has no elements in common with the other set
isdisjoint = my_set.isdisjoint(other_set)
print(isdisjoint)

False

In [70]:
a={12,4,5,6,78,67,7}
aa={5,6,78,6,7}
aa.issubset(a)

True

In [71]:
# Check if the set is a subset of the other set
issubset = my_set.issubset(other_set)

print(issubset)

True

In [72]:
# Check if the set is a superset of the other set
issuperset = my_set.issuperset(other_set)

print(issuperset)

False

In [73]:
a.issuperset(aa)

True

In [74]:
# Remove and return an arbitrary element from the set
my_set = {4,7,9,1, 2, 3}
popped_element = my_set.pop()

print(popped_element)

1

In [75]:
a={1,2,3,45}
b={1,34,5,4}
a-b

{2, 3, 45}

In [76]:
b-a

{4, 5, 34}

In [77]:
a.symmetric_difference(b)

{2, 3, 4, 5, 34, 45}

In [78]:
# Get the symmetric difference between two sets
symmetric_difference = my_set.symmetric_difference(other_set)

print(symmetric_difference)

{89, 2, 5, 7}

In [79]:
# Update the set with elements that are in either set, but not in both
my_set.symmetric_difference_update(other_set)

print(my_set)

{89, 2, 5, 7}

In [80]:
# Get the union of two sets
union = my_set.union(other_set)

print(union)

{2, 3, 4, 5, 7, 9, 89}

In [81]:
my_set

{2, 5, 7, 89}

In [82]:
# Add elements from the other set to the set
my_set.update({3,6,7,4,46})

print(my_set)

{2, 3, 4, 5, 6, 7, 46, 89}

In [83]:
# Clear the set
my_set.clear()

print(my_set)

set()

In [84]:
## iteration in set
for i in other_set:
    print(i,end=" ")

89 3 4 5 9

## Dictionary

In [85]:
empty_dict={}
empty_dict1=dict()
type(empty_dict)

dict

In [ ]:
type(empty_dict1)

In [ ]:

empty_dict['1']="One"

In [86]:
empty_dict

{}

In [87]:
empty_dict['2']='Two'

In [88]:
product_sells_price={"Prod1":1000,"Prod2":3000,"Prod3":10000,"Prod4":10900,"Prod5":1000}

In [89]:
product_sells_price['Prod11']

KeyError: 'Prod11'

In [90]:
product_sells_price['Prod1']=2000

In [91]:
product_sells_price["Prod6"]=7000

In [92]:
product_sells_price

{'Prod1': 2000,
 'Prod2': 3000,
 'Prod3': 10000,
 'Prod4': 10900,
 'Prod5': 1000,
 'Prod6': 7000}

In [93]:
product_sells_price.keys()

dict_keys(['Prod1', 'Prod2', 'Prod3', 'Prod4', 'Prod5', 'Prod6'])

In [94]:
product_sells_price.values()

dict_values([2000, 3000, 10000, 10900, 1000, 7000])

In [95]:
product_sells_price.items()

dict_items([('Prod1', 2000), ('Prod2', 3000), ('Prod3', 10000), ('Prod4', 10900), ('Prod5', 1000), ('Prod6', 7000)])

In [96]:
for key,val in product_sells_price.items():
    print(key,val)

Prod1 2000
Prod2 3000
Prod3 10000
Prod4 10900
Prod5 1000
Prod6 7000

In [97]:
product={"Prod11":10000,"Prod12":13000,"Prod13":120000,"Prod14":10900,"Prod17":11000}

In [98]:
product_sells_price.update(product)

In [101]:
for key,val in product_sells_price.items():
    print(key,":",val)

Prod1 : 2000
Prod2 : 3000
Prod3 : 10000
Prod4 : 10900
Prod5 : 1000
Prod6 : 7000
Prod11 : 10000
Prod12 : 13000
Prod13 : 120000
Prod14 : 10900
Prod17 : 11000

In [102]:
pro=product_sells_price.fromkeys(product_sells_price.keys(),0)

In [103]:
pro['Prod1']

0

In [104]:
pro

{'Prod1': 0,
 'Prod2': 0,
 'Prod3': 0,
 'Prod4': 0,
 'Prod5': 0,
 'Prod6': 0,
 'Prod11': 0,
 'Prod12': 0,
 'Prod13': 0,
 'Prod14': 0,
 'Prod17': 0}

In [105]:
product_sells_price['Prod1']=100

In [106]:
product_sells_price.get('Prod21',"NOt Avilable")

'NOt Avilable'

In [107]:
product_sells_price['Prod1']

100

In [108]:
product_sells_price.pop('Prod1111',"Not Avilable")

'Not Avilable'

In [109]:
product_sells_price

{'Prod1': 100,
 'Prod2': 3000,
 'Prod3': 10000,
 'Prod4': 10900,
 'Prod5': 1000,
 'Prod6': 7000,
 'Prod11': 10000,
 'Prod12': 13000,
 'Prod13': 120000,
 'Prod14': 10900,
 'Prod17': 11000}

In [110]:
product_sells_price.popitem()

('Prod17', 11000)

In [111]:
product_sells_price.setdefault("Prod1")

100

In [112]:
product_sells_price

{'Prod1': 100,
 'Prod2': 3000,
 'Prod3': 10000,
 'Prod4': 10900,
 'Prod5': 1000,
 'Prod6': 7000,
 'Prod11': 10000,
 'Prod12': 13000,
 'Prod13': 120000,
 'Prod14': 10900}

In [113]:
product_sells_price["Prod1"]=100000

In [114]:
product_sells_price

{'Prod1': 100000,
 'Prod2': 3000,
 'Prod3': 10000,
 'Prod4': 10900,
 'Prod5': 1000,
 'Prod6': 7000,
 'Prod11': 10000,
 'Prod12': 13000,
 'Prod13': 120000,
 'Prod14': 10900}

In [115]:
customers={"R_01":{"Name":"Ram Lakhan shingh",'Account_balance':100000},
           "Adi_01":{"Name":"aditya Kasyap",'Account_balance':1000000},
          "Sharma_001":{"Name":"Aditya kuamar sharma",'Account_balance':10000}}

In [116]:
customers['R_01']

{'Name': 'Ram Lakhan shingh', 'Account_balance': 100000}

In [117]:
for k,v in customers.items():
    print(k,v)

R_01 {'Name': 'Ram Lakhan shingh', 'Account_balance': 100000}
Adi_01 {'Name': 'aditya Kasyap', 'Account_balance': 1000000}
Sharma_001 {'Name': 'Aditya kuamar sharma', 'Account_balance': 10000}

In [118]:
max_balance=customers["R_01"]['Account_balance']
for k,v in customers.items():
        if(customers[k]['Account_balance']>max_balance):
            max_balance=customers[k]["Account_balance"]
print(max_balance)

1000000

In [119]:
users={"Krisha":"Krish_10","Radha":"Radhye_11","Ram":"Radhye_11"}

In [120]:
"Krisha" in users.keys()

True

In [123]:
username=input("Enter your Username:")
password=input("Password:")
if(username in users.keys() and users[username]==password):
    print("Access Granted")
else:
    print("Access denied")

Enter your Username:Krisha
Password:Krish_10
Access Granted